{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}

 <div class="container">
{#     <h1>dasd </h1>>#}
        <form method="post" action="#" class="form-login">
            <h1 class="form-signin-heading" id="local-title">Welcome back!</h1>
            {% csrf_token %}
            <table class="spaced_table">
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
{#            <a href="{% url 'password_reset'%}" id="passwordReset">Forgot your password?</a>#}
            <br/>
            <br/>
{#            <p class="center-block text-center accountSpan">OR</p>#}
            <!-- Facebook login -->
{#            <a class="form-control btn btn-primary" onclick="$(this).button('loading');" id="facebook-button" name="facebook" href="{% url "social:begin" backend='facebook' %}">#}
{#                Facebook Login#}
{#            </a>#}
        </form>
 <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
 </div>

{% load socialaccount %}
<h1>Django Allauth Tutorial</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
{% else %}
<a class="btn btn-block btn-social btn-github"  href="{% provider_login_url 'github' %}">
<i class="fa fa-github"></i>
    Sign in with GitHub
</a>
{% endif %}
{% endblock %}
