{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}
{% block content %}

{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">#}
{#            <div class="panel panel-info">#}
{##}
{#                <!-- Profile -->#}
{#                <div class="panel-heading">#}
{#                    <!-- Username -->#}
{#                    <h3 class="panel-title">{{ user_form.instance.username }}</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    <div class="row">#}
{##}
{#                        <!-- Profile Picture -->#}
{#                        {% if not profile.picture %}#}
{#                            <!-- Profile picture is not set. User default picture. -->#}
{#                            <div class="col-md-3 col-lg-3 " align="center"><img alt="Profile Picture"  src="{% static 'img/default.png' %}"  class="img-circle img-responsive"></div>#}
{#                        {% else %}#}
{#                            <!-- User uploaded profile picture -->#}
{#                            <div class="col-md-3 col-lg-3 "#}
{#                             align="center"><img#}
{#                                alt="Profile Picture"#}
{#                                src="{{ profile_form.instance.photo.url }}"#}
{#                                class="img-circle img-responsive">#}
{#                            </div>#}
{#                        {% endif %}#}
{##}
{#                        <!-- User Information -->#}
{#                        <div class=" col-md-9 col-lg-9 ">#}
{#                            <!-- Table of user information -->#}
{#                            <table class="table table-user-information">#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td>Name</td>#}
{#                                    <td>{{ user_form.instance.first_name }} {{ user_form.instance.last_name }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>Date Of Birth</td>#}
{#                                    <td><a href="mailto:info@support.com">{{ profile_form.instance.date_of_birth }}</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>Country</td>#}
{#                                    <td>{{ profile_form.instance.country }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>City:</td>#}
{#                                    <td>{{ profile_form.instance.city  }}</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{##}
{#                        <!-- Buttons. Only for authenticated user for their own profiles. -->#}
{#                        {% if user.is_authenticated and user.id == profile_form.instance.user.id %}#}
{#                            <!-- Edit Profile -->#}
{#                            <a href="{% url 'edit' %}" class="btn btn-primary">Edit profile</a>#}
{##}
{#                            <!-- Apply for becoming a developer -->#}
{#                            {% if profile.can_apply_for_developer %}#}
{#                                <a href="{% url 'publisher.apply' %}" class="btn btn-primary">Apply to become a developer</a>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div class="container">#}
{#      <div class="row">#}
{#      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">#}
{#           <A href="edit.html" >Edit Profile</A>#}
{##}
{#        <A href="edit.html" >Logout</A>#}
{#       <br>#}
{#<p class=" text-info">May 05,2014,03:00 pm </p>#}
{#      </div>#}
{#        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >#}
{##}
{##}
{#          <div class="panel panel-info">#}
{#            <div class="panel-heading">#}
{#              <h3 class="panel-title">Sheena Shrestha</h3>#}
{#            </div>#}
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>#}
{##}
{#                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>#}
{#                  <dl>#}
{#                    <dt>DEPARTMENT:</dt>#}
{#                    <dd>Administrator</dd>#}
{#                    <dt>HIRE DATE</dt>#}
{#                    <dd>11/12/2013</dd>#}
{#                    <dt>DATE OF BIRTH</dt>#}
{#                       <dd>11/12/2013</dd>#}
{#                    <dt>GENDER</dt>#}
{#                    <dd>Male</dd>#}
{#                  </dl>#}
{#                </div>-->#}
{#                <div class=" col-md-9 col-lg-9 ">#}
{#                  <table class="table table-user-information">#}
{#                    <tbody>#}
{#                      <tr>#}
{#                        <td>Department:</td>#}
{#                        <td>Programming</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Hire date:</td>#}
{#                        <td>06/23/2013</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Date of Birth</td>#}
{#                        <td>01/24/1988</td>#}
{#                      </tr>#}
{##}
{#                         <tr>#}
{#                             <tr>#}
{#                        <td>Gender</td>#}
{#                        <td>Female</td>#}
{#                      </tr>#}
{#                        <tr>#}
{#                        <td>Home Address</td>#}
{#                        <td>Kathmandu,Nepal</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Email</td>#}
{#                        <td><a href="mailto:info@support.com">info@support.com</a></td>#}
{#                      </tr>#}
{#                        <td>Phone Number</td>#}
{#                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)#}
{#                        </td>#}
{##}
{#                      </tr>#}
{##}
{#                    </tbody>#}
{#                  </table>#}
{##}
{#                  <a href="#" class="btn btn-primary">My Sales Performance</a>#}
{#                  <a href="#" class="btn btn-primary">Team Sales Performance</a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#                 <div class="panel-footer">#}
{#                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>#}
{#                        <span class="pull-right">#}
{#                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>#}
{#                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>#}
{#                        </span>#}
{#                    </div>#}
{##}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

    <div class="container">
	<div class="row">
{#		<h2>Create your snippet's HTML, CSS and Javascript in the editor tabs</h2>#}


       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                <input id="profile-image-upload" class="hidden" type="file">
<div style="color:#999;" >click here to change profile image</div>
                <!--Upload Image Js And Css-->







                     </div>

              <br>

              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">Prasad Shankar Huddedar </h4></span>
              <span><p>Aspirant</p></span>
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">


<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">{{ user_form.instance.first_name }}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> {{ user_form.instance.last_name }}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">{{ user_form.instance.date_of_birth }}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-sm-5 col-xs-6 tital " >Country</div><div class="col-sm-7">{{ user_form.instance.country }}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >City:</div><div class="col-sm-7">{{ user_form.instance.city }}</div>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>


    </div>
    </div>
</div>
    <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
              </script>









   </div>
</div>





{% endblock %}


