{% extends "base.html" %}

{% block developer_stats_selection %}
selected
{% endblock %}

{% block content %}

	<h3 class="dev_form_title">Statistics</h3>

	<div class="stat_year_wrapper">

		<table class="table table-dark">

			<tbody>
				<td class="stats_year_link">
					{% if last_year %}
					<a href="/developer/stats/?year={{last_year}}">Last year</a> 
					{% endif %}
				</td>
				<td class="stats_year_tittle">
					{% if year %}
					<span>Year: {{year}}</span> 
					{% endif %}
				</td>
				<td class="stats_year_link">
					{% if next_year %}
					<a href="/developer/stats/?year={{next_year}}">Next year</a> 
					{% endif %}
				</td>
			<tbody>

		</table>

	</div>

	<div class="stat_tables_wrapper">
		<div class="half_page">
			<h4 class="stat_table_title">Sales for each game</h4>

			<table class="table table-dark">
			  <thead>
			    <tr> 
			      <th>Name</th>
			      <th>Number</th>
			      <th>Amount</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for game_stat in stats_by_game %}
			    <tr>
			      <td>{{game_stat.game.name}}</td>
			      <td>{{game_stat.copies_sold}}</td>
			      <td>{{game_stat.revenue}} €</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>


		<div class="half_page">
			
		<h4 class="stat_table_title">Transaction History</h4>

			<table class="table table-dark">
			  <thead>
			    <tr> 
			      <th>Time</th>
			      <th>Game Name</th>
			      <th>Price</th>
                  <th>Buyer</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for item in stats_history %}
			    <tr>
			      <td>{{item.0}}</td>
			      <td>{{item.1}}</td>
			      <td>€{{item.2}}</td>
                  <td>{{item.3}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>

{% endblock %}