{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div id="header">
        <a href="/" class="logo">My shop</a>
    </div>
{#    <div id="subheader">#}
{#       <div class="cart">#}
{#            {% with total_items=cart|length %}#}
{#                {% if cart|length > 0 %}#}
{#                    Your cart:#}
{#                    <a href="{% url "cart_detail" %}">#}
{#                        {{ total_items }} item{{ total_items|pluralize }},#}
{#                        ${{ cart.get_total_price }}#}
{#                    </a>#}
{#                {% else %}#}
{#                    Your cart is empty.#}
{#                {% endif %}#}
{#        {% endwith %}#}
{#        </div>#}
{#    </div>#}

    <div id="content">
        <div class="game-detail">
             <img src="{{ game.image.url }}">
            <h1>{{ game.name }}</h1>
            <h2><a href="{{ game.category.get_absolute_url }}">{{ game.category }}</a></h2>
            <p class="price">${{ game.price }}</p>
                {{ game.description|linebreaks }}
            <form action="{% url "cart_add" game.id %}" method="post">
            {{ cart_game_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock %}