{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div id="header">
        <a href="/" class="logo">My shop</a>
  </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "game_list" %}">All</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}games{% endif %}</h1>
        {% for game in games %}
            <div class="item">
                <a href="{{ game.get_absolute_url }}">
                    <img src="{{ game.image }}">
                </a>
                <p>
                <a href="{{ game.get_absolute_url }}">{{ game.name }}</a><br>
                    ${{ game.price }}
                </p>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}