{% extends "base.html" %}
{% block title %}Change you password{% endblock %}

{% block content %}
    <div class="change_password">
    <h1 id="Change_password">Change you password</h1>
     <p class="change_remind">Use the form below to change your password.</p>
    <form action="../Profile" method="post" class="kasdwq">
{#    {{ form.as_p }}#}
        <p>
            <label for="id_old_password">Old password:</label>
            <input type="password" name="old_password" id="id_old_password" autofocus="" required="">
        </p>
        <p>
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" id="id_new_password1" required="">
            <span class="helptext"></span>
        </p>
        <p>
            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" id="id_new_password2" required="">
        </p>
        <p></p>>
    <p class="change_remind"><input type="submit" value="Change"></p>
    {% csrf_token %}
    </form>
    </div>
{% endblock %}