{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
   {% if user.is_authenticated  == False %}
  <div class="jumbotron">
            <h1 class="cover-heading">Welcome to Game Store!</h1>
            <br>
            <br>
              <h2>
                  <a id = "log_in" href="{%  url "log_in"  %}" class="btn btn-lg btn-default">Log in</a>
              </h2>
              <h2>
                  <a id = "register" href="{%  url "register"  %}" class="btn btn-lg btn-default">Register</a>
              </h2>
  </div>
    {% endif %}

    {% for group in request.user.groups.all %}
        {% if user.is_authenticated and group.name == 'developers' %}
            <div class="jumbotron">
            <h1 class="cover-heading">Welcome to Game Store!</h1>
            <br>
            <br>
                  <button id="home" class="btn btn-outline-success btn-secondary" type="button" style="text-align: center">
                      <a href="{% url 'dev_games' %}">Add Games</a></button>
                   <button id="home" class="btn btn-outline-success btn-secondary" type="button" style="text-align: center">
                       <a href="{% url 'statistics' %}">Sales Statistics</a></button>
            </div>
    {% endif %}
    {% endfor %}

        {% for group in request.user.groups.all %}
        {% if user.is_authenticated and group.name == 'players' %}
            <div class="jumbotron">
            <h1 class="cover-heading">Welcome to Game Store!</h1>
            <br>
            <br>
                  <button id="home" class="btn btn-outline-success btn-secondary" type="button" style="text-align: center">
                      <a href="{% url 'game_list' %}">Buy Game</a></button>
                   <button id="home" class="btn btn-outline-success btn-secondary" type="button" style="text-align: center">
                       <a href="{% url 'owned_games' %}">Play Game</a></button>
            </div>
    {% endif %}
    {% endfor %}
{% endblock %}
