{% extends "base.html" %}

{% block content_title %}
	Play Game
{% endblock %}

{% block content %}
    <h2>{{ game.name }} &nbsp &nbsp  &nbsp </h2>
    <h5>My Highest Score: {{ player_highest_score }}</h5>
	<iframe id="game_iframe" src={{game_url}}>
		You	browser does not support iFrames!
    </iframe>
    {% block sidebar %}
    {% load staticfiles %}
    <div id="sidebarContent">
        <h4 >Top 10 players  &nbsp &nbsp  &nbsp <button class="btn btn-secondary  btn-outline-success" id = "fresh" type="button"><a href="{% url 'play_game' game.id %}">Refresh</a></button>
</h4>
        <table class="leader_board">
            <thead>
                <tr>
                    <th class="col-lg-auto">Username</th>
                    <th class="col-lg-auto">Score</th>
                </tr>
            </thead>
            <tbody id="top_players">
            {% for s in ranking %}
            <tr>
                <td class="col-lg-auto">{{ s.player }}</td>
                <td class="col-lg-auto">{{ s.score}}</td>
            </tr>
         {% endfor %}
            </tbody>
        </table>
    </div>

{%  endblock %}
    <script>
    $( document ).ready(function() {
        window.addEventListener("message", receiveMessage);
        function receiveMessage(event) {
            var message = {
                messageType: "ERROR"
            };
            if (event.data.messageType == "SCORE") {
                var score = parseFloat(event.data.score);
                if (isNaN(score)) {
                    message.info = "Invalid Score";
                    sendMessageToGame(message);
                    return;
                }
                sendData(event.data, "#");
            }
            if (event.data.messageType == "SAVE") {
                if (!tryParseJSON(JSON.stringify(event.data.gameState))) {
                    message.info = "Invalid json format";
                    sendMessageToGame(message);
                    return;
                }
                event.data.gameState = JSON.stringify(event.data.gameState);
                sendData(event.data, "#");
            }
            if (event.data.messageType == "LOAD_REQUEST") {
                sendData(event.data, "#");
            }
            if (event.data.messageType == "SETTING") {
                var width = parseInt(event.data.options.width);
                var height = parseInt(event.data.options.height);
                if (!isNaN(width)) {
                    if (width > 800)
                        width = 800;
                    if (width < 20)
                        width = 20;
                    $('#game_iframe').css('width', width);
                }
                if (!isNaN(height)) {
                    if (height > 1000)
                        height = 1000;
                    if (height < 20)
                        height = 20;
                    $('#game_iframe').css('height', height);
                }
            }
        }
        function sendMessageToGame(message) {
            var game_iframe = document.getElementById('game_iframe');
            if (game_iframe) {
                game_iframe.contentWindow.postMessage(message, "*");
            } else {
                alert("Game Iframe could not be found!");
            }
        }
        function sendData(data, url) {
            data.csrfmiddlewaretoken = "{{ csrf_token  }}";
            var message = {};
            $.ajax({
                method: "POST",
                url: url,
                data: data,
                success: function (response) {
                    if (response.error) {
                        message = {
                            messageType: "ERROR",
                            info: response.error
                        };
                        sendMessageToGame(message);
                    }
                    else {
                        if (response.result) {
                            message.messageType = "LOAD";
                            message.gameState = jQuery.parseJSON(response.result);
                            sendMessageToGame(message);
                        }
                    }
                },
                error: function (response) {
                    if (response.error) {
                        message = {
                            messageType: "ERROR",
                            info: response.error
                        };
                        sendMessageToGame(message);
                    }
                }
            });
        }
        function tryParseJSON(jsonString) {
            try {
                var obj = JSON.parse(jsonString);
                if (obj && typeof obj === "object" && obj !== null) {
                    return true;
                }
            }
            catch (e) {
                return false;
            }
        }
    });
    </script>
{% endblock %}




