{% extends "base.html" %}

{% block title %}My games{% endblock %}

{% block content %}

    <div class="table-responsive" id="myTableContainer">
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th data-field="score">Score</th>
            <th data-field="played_time">Time</th>
            <!-- <th data-field="popularity">Popularity</th> -->
          </tr>
        </thead>
        <tbody>
        {% for s in scores %}
            <tr>
                <td>{{ s.score }}</td>
                <td>{{ s.played_time }}</td>
                <!-- <td>{{ g.popularity }}</td> -->
            </tr>
         {% endfor %}
        </tbody>
      </table>
      </div>


     <script type="text/javascript">
        $( "#navbar-MyGames" ).addClass('active');
     </script>

{% endblock %}

{% block sidebar %}

    <div id="sidebarContent">
        <p class="lead">Your game collection.</p>
        <p>In this page you can go through your game and choose the one that you want to play.</p>
        <p>Open one game by click his name.</p>
    </div>

{% endblock %}