{% extends "base.html" %}

{% block title %}My games{% endblock %}

{% block content %}
<div class="row" style="margin-left: 5%;">
    <div class="col-lg-10">
    <div class="table-responsive" id="myTableContainer">
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th data-field="icon">Logo</th>
            <th data-field="name">Name</th>
            <th data-field="category" >Category</th>
            <th data-field="publicationDate">Publication Date</th>
            <th data-field="leaderboard">Leader Board</th>
            <!-- <th data-field="popularity">Popularity</th> -->
          </tr>
        </thead>
        <tbody>
        {% for g in games %}
            <tr>
                <td><img alt="image not available" class="gameImage" src="{{ g.icon}}"></td>
                <td><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></td>
                <td>{{ g.category }}</td>
                <td>{{g.published_date |date:'Y-m-d' }}</td>
                <td><a href="{% url 'game_leader_board' g.id %}">Leader Board</a></td>
                <!-- <td>{{ g.popularity }}</td> -->
            </tr>
         {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-lg-2">
         <h3>Categories</h3>
        <ul>
            <li>
                <a href="{% url 'search_all'  %}">All</a>
            </li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{%  url 'search_category' c.slug %}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}