{% extends "base.html" %}

{% block title %}Cart{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <h1>Your shopping cart</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr style="color: white">
                        <th>Game</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit price</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with game=item.game %}
                    <tr style="color: white">
                        <td>{{ game.name }}</td>
                        <td>1</td>
                        <td>{% if game.name %}<a href="{% url "cart_remove" game.id %}">Remove</a>{% endif %}</td>
                        <td >${{ item.price }}</td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
     <div class="col-lg-12 col-xs-12">
        <p class="text-right">
             <form action="{% url 'order_create' %}" method="POST">
                    {% csrf_token %}
                <input type="submit" class="btn btn-success" value="Send Order" id="confirmButton">
             </form>
        </p>
         <a href="{% url "game_list" %}" class="button light">Continue shopping</a>
    </div>
</div>
{% endblock %}
