{% extends "base.html" %}

{% block title %}Cart{% endblock %}


{% block content %}
    <h1>Your shopping cart</h1>
    <table class="table ">
        <thead>
            <tr>
                <th>Game</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with game=item.game %}
            <tr>
{#                <td>#}
{#                    <a href="{{ game.get_absolute_url }}">#}
{#                       <img src="{{ game.image }}">#}
{#                    </a>#}
{#                </td>#}
                <td>{{ game.name }}</td>
                <td>1</td>
                <td>{% if game.name %}<a href="{% url "cart_remove" game.id %}">Remove</a>{% endif %}</td>
                <td class="num">${{ item.price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>


    <p class="text-right">
        <a href="{% url "game_list" %}" class="button light">Continue shopping</a>
            <form action="{% url 'order_create' %}" method="POST">
                {% csrf_token %}
            <input type="submit" class="btn btn-success" value="Send Order" id="confirmButton">
            </form>
    </p>
{% endblock %}
